/* Variables available in App.css */
/* :root {
    --background-color: #2c2c2c;
    --primary-color: #56b280;
    --text-color: #f0f0f0;
    --default-padding: 1.2rem 20rem;
  } */

.categories ul li {
  display: inline-block;
  cursor: pointer;
  margin: 1rem;
}

.categories ul li:hover {
  color: var(--primary-color);
}

.active {
  color: var(--primary-color);
}

.box {
  background-color: var(--primary-color);
  min-height: 10rem;
  min-width: 10rem;
  max-height: 12rem;
  max-width: 46rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  transition: 0.3s;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.box:hover {
  min-width: 11rem;
  color: var(--background-color);
}

.box:nth-of-type(2) {
  background-color: orange;
}

.box:nth-of-type(3) {
  background-color: steelblue;
}

.box:nth-of-type(4) {
  background-color: maroon;
}

.box:nth-of-type(5) {
  background-color: teal;
}

.box:nth-of-type(6) {
  background-color: yellowgreen;
}

.box-expand {
  background-color: mediumturquoise;
  flex: 1 0 48%;
}
.box-expand:hover {
  background-color: bisque;
}

.box-expand:nth-of-type(2) {
  background-color: purple;
  flex: 1 0 48%;
}
.box-expand:nth-of-type(2):hover {
  max-width: 10rem;
  transition: max-width 1s;
}
