/* info.css */

.info-block {
  padding: 2rem;
  width: 60%;
  text-align: left;
  position: relative;
  margin: 0 auto;
}

.info-block:before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  opacity: 10%;
  background-color: var(--text-color);
}

.info-block p {
  margin-top: 0.6rem;
}

@media screen and (max-width: 1439px) {
  .info-block {
    width: 80%;
  }
}

@media screen and (max-width: 679px) {
  .info-block {
    width: 100%;
    text-align: center;
  }

  .info-block:before {
    display: none;
  }
}
