.product-container {
  margin: 0 auto;
  padding: 1.25rem;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  min-width: 60%;
}

.product-container a {
  margin: auto;
}

.product-image img {
  width: 100%;
  height: 30rem;
  object-fit: scale-down;
  overflow: hidden;
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-details h2 {
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}

.product-details p {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}

.buy-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
.buy-button:hover {
  border-color: var(--text-color);
}
.buy-button:focus,
.buy-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (max-width: 767px) {
  .product-container {
    max-width: 100%;
    min-width: 100%;
  }
}
