/* Footer.css*/

.foots {
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: center;
}

.footers {
  margin: 1rem;
  width: 100%;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
}

.footers p {
  width: 20%;
  margin: 0 0.8rem;
}

.copyright {
  width: 100%;
  font-size: 0.8rem;
}
