/* productcard.css */

.product-card {
  text-decoration: none;
  color: #333;
  background-color: white;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  height: 20rem;
  min-height: 20rem;
  max-height: 20rem;
  width: 15rem;
  min-width: 15rem;
  max-width: 15rem;
  margin: 0.5rem;
}

.product-card:hover {
  transform: translateY(-0.15rem);
  filter: brightness(0.94);
}

.card-container {
  display: grid;
  grid-template-rows: 3fr 0.8fr auto;
  padding: 0.8rem;
  height: 100%;
}

.image-container {
  height: 12rem;
}

.image-container img {
  max-width: 100%;
  height: 100%;
  object-fit: scale-down;
  overflow: hidden;
}

.card-container h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
  overflow: hidden;
}

.card-container p {
  margin: 0.2rem 0;
  font-size: 1rem;
  align-self: end;
}
